<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e.procrastination">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ISPTest0517">

        <activity
            android:name="com.e.procrastination.MyMainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.ISPTest0517.NoActionBar">

        </activity>
        <activity
            android:name="com.e.procrastination.DiaryActivity"
            android:label="@string/app_title_diary"
            android:theme="@style/Theme.ISPTest0517.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.e.procrastination.LoginActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.e.procrastination.ProfileMainActivity"
            android:label="@string/app_title_profile"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/Theme.ISPTest0517.NoActionBar" />
        <activity
            android:name="com.e.procrastination.ProfileSettingActivity"
            android:label="@string/app_title_profile"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/Theme.ISPTest0517.NoActionBar" />
        <activity
            android:name="com.e.procrastination.CourseActivity"
            android:label="@string/app_title_course"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/Theme.ISPTest0517.NoActionBar" />
        <activity
            android:name="com.e.procrastination.CourseUtils"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/Theme.ISPTest0517.NoActionBar" />
        <activity
            android:name="com.e.procrastination.IPSScrollingActivity"
            android:label="@string/app_title_ips"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/Theme.ISPTest0517.NoActionBar" />
        <activity
            android:name="com.e.procrastination.MindfulnessMainActivity"
            android:label="@string/app_title_mindfulness"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/Theme.ISPTest0517.NoActionBar" />
        <activity
            android:name="com.e.procrastination.MindfulnessPlayActivity"
            android:label="@string/app_title_mindfulness"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/Theme.ISPTest0517.NoActionBar" />
        <activity
            android:name="com.e.procrastination.MindfulnessResultActivity"
            android:label="@string/app_title_mindfulness"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/Theme.ISPTest0517.NoActionBar" />

        <activity
            android:name="com.e.procrastination.Sign1Activity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.e.procrastination.Sign2Activity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.e.procrastination.GetPassActivity"
            android:label="@string/app_name">
        </activity>

    </application>

</manifest>